<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
</head>

<body>
  <h1><%= title %></h1>

  <div style="margin-bottom: 20px; display: block;">
    <% if (originalUrl != "/") { %>
    <a href="/"><i class="meta fas fa-angle-double-left"></i></a>
    <a href="<%= backUrl %>"><i class="meta fas fa-angle-left"></i></a>
    <% } else { %>
    <i style="opacity: .2;" class="meta fas fa-angle-double-left"></i>
    <i style="opacity: .2;" class="meta fas fa-angle-left"></i>
    <% } %>
  </div>

  <form method="POST" id="saveForm" action="/api/save?path=<%= currentPath %>">
    <button style="cursor: pointer; border: none; background: none; font-size: 2em; color: #00B7FF;" type="submit">
      <i class="fas fa-save"></i>
    </button>
    <br>
    <textarea name="content" id="" cols="100" rows="50"><%= fileContent %></textarea>
  </form>
</body>

</html>
