<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
</head>

<body>
  <h1><%= title %></h1>

  <div style="margin-bottom: 20px; display: block;">
    <% if (originalUrl != "/") { %>
    <a href="/"><i class="meta fas fa-angle-double-left"></i></a>
    <a href="<%= backUrl %>"><i class="meta fas fa-angle-left"></i></a>
    <% } else { %>
    <i style="opacity: .2;" class="meta fas fa-angle-double-left"></i>
    <i style="opacity: .2;" class="meta fas fa-angle-left"></i>
    <% } %>
  </div>

  <% for (var i=0; i<items.length;  i++) { %>
  <div style="min-width: 300px;" class="item">
    <% if (items[i].is_dir) { %>
    <i class="meta far fa-folder"></i>
    <% } else { %>
    <i class="meta far fa-file"></i>
    <% } %>
    <% let nextUrl %>
    <% if (originalUrl != "/") { %>
    <% nextUrl = currentPath +'/' + items[i].name %>
    <% } else { %>
    <% nextUrl = items[i].name %>
    <% } %>

    <div style="width: 200px; display: inline-block;">
      <% if (items[i].is_dir) { %>
      <a href="?path=<%= nextUrl %>"><%= items[i].name %></a>
      <% } else { %>
      <a style="text-decoration: none;" href="?path=<%= nextUrl %>&file=1"><%= items[i].name %></a>
      <% } %>
    </div>

    <span style="opacity: .5; font-size: 0.7em; width: 80px; display: inline-block; margin-right: 20px">
      <%= humanSize(items[i].size) %>
    </span>
    <span style="opacity: .5; font-size: 0.7em; width: 150px; display: inline-block;">
      <%= humanTime(items[i].mtime) %>
    </span>

    <div class="actions">
      <i class="action far fa-edit"></i>
      <i class="action fas fa-arrows-alt"></i>
      <i class="action far fa-trash-alt"></i>
    </div>
  </div>
  <% } %>
</body>

</html>
